.imgProducts {
    object-fit: contain;
    margin-top: 1rem;
}

.card {
    display: flex;
    align-items: center;
    margin: 1.3rem;
    box-shadow: 2px 2px 0;
}

.colorBoton {
    color: white;
    background-color: rebeccapurple;
}

.colorBoton:hover {
    background-color: orangered;
    color: white;
}

body {
    /* background: linear-gradient(#B7950B, #FDEBD0); */
    font-family: sans-serif;
    overflow-x: hidden;
    background-image: url('/img/background.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 50%;

}

.modal-content {
    background-color: #E3D8D6;
}

.modal-contenedor {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.img-carrito {
    width: 200px;
    padding: 20px;
}

h2 {
    color: goldenrod
}

h3 {
    color: goldenrod
}